In [115]:
import pandas as pd
import numpy as np

In [116]:
df = pd.read_csv('../kaggle_competition/data_limpia/diamonds_clean.csv')

In [117]:
df

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0,0.118605,0.00,0.333333,0.285714,0.388889,0.470588,0.591398,0.099660,0.106918,2198
1,1,1,0.127907,0.75,0.333333,0.714286,0.538889,0.254902,0.574780,0.097623,0.114151,3822
2,2,2,0.116279,0.25,0.666667,0.428571,0.447222,0.411765,0.562072,0.099321,0.107862,2234
3,3,3,0.360465,0.75,0.833333,0.571429,0.488889,0.313725,0.762463,0.133107,0.149057,12416
4,4,4,0.227907,0.75,0.500000,0.714286,0.463889,0.274510,0.678397,0.117148,0.129874,9537
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,40450,0.202326,1.00,0.333333,0.285714,0.547222,0.235294,0.632454,0.110866,0.128302,5982
40451,40451,40451,0.230233,0.75,0.500000,0.142857,0.441667,0.313725,0.684262,0.117487,0.128616,4758
40452,40452,40452,0.427907,0.75,0.333333,0.142857,0.477778,0.274510,0.805474,0.138710,0.155346,18231
40453,40453,40453,0.153488,0.75,0.166667,0.285714,0.525000,0.333333,0.593353,0.101698,0.117296,3323
40454,40454,40454,0.313953,0.50,0.666667,0.285714,0.561111,0.254902,0.718475,0.124109,0.145912,7066

In [118]:
df = df.drop(['Unnamed: 0'], axis=1)

In [119]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.118605,0.00,0.333333,0.285714,0.388889,0.470588,0.591398,0.099660,0.106918,2198
1,1,0.127907,0.75,0.333333,0.714286,0.538889,0.254902,0.574780,0.097623,0.114151,3822
2,2,0.116279,0.25,0.666667,0.428571,0.447222,0.411765,0.562072,0.099321,0.107862,2234
3,3,0.360465,0.75,0.833333,0.571429,0.488889,0.313725,0.762463,0.133107,0.149057,12416
4,4,0.227907,0.75,0.500000,0.714286,0.463889,0.274510,0.678397,0.117148,0.129874,9537
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.202326,1.00,0.333333,0.285714,0.547222,0.235294,0.632454,0.110866,0.128302,5982
40451,40451,0.230233,0.75,0.500000,0.142857,0.441667,0.313725,0.684262,0.117487,0.128616,4758
40452,40452,0.427907,0.75,0.333333,0.142857,0.477778,0.274510,0.805474,0.138710,0.155346,18231
40453,40453,0.153488,0.75,0.166667,0.285714,0.525000,0.333333,0.593353,0.101698,0.117296,3323
40454,40454,0.313953,0.50,0.666667,0.285714,0.561111,0.254902,0.718475,0.124109,0.145912,7066

In [120]:
columnas = [a for a in df.columns if a not in ["price", "id"]]
X = df[columnas]

In [121]:
X.shape

(40455, 9)

In [122]:
y = df.price

In [123]:
y.shape

(40455,)

LinearRegression

DecisionTreeRegressor

KNeighborsRegressor

GradientBoostingRegressor

RandomForestRegressor

In [124]:
from sklearn.linear_model import LinearRegression

from sklearn.datasets import load_diabetes
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [158]:
models = { "LinearRegression": LinearRegression(),
          "DecisionTreeRegressor": DecisionTreeRegressor(max_depth=3),
          "KNeighborsRegressor": KNeighborsRegressor(),
          "GradientBoostingRegressor": GradientBoostingRegressor(),
          "RandomForestRegressor": RandomForestRegressor()
}

In [159]:
for name, model in models.items():
    print(f"Entrenando modelo ---> {name}")
    model.fit(X,y)
    print(f"He acabado :)")

Entrenando modelo ---> LinearRegression
He acabado :)
Entrenando modelo ---> DecisionTreeRegressor
He acabado :)
Entrenando modelo ---> KNeighborsRegressor
He acabado :)
Entrenando modelo ---> GradientBoostingRegressor
He acabado :)
Entrenando modelo ---> RandomForestRegressor
He acabado :)

In [129]:
from sklearn import metrics
import numpy as np

In [160]:
for name, model in models.items():
    y_pred = model.predict(X)
    print(f"--------{name}--------")
    print("RMSE: ", np.sqrt(metrics.mean_squared_error(y,y_pred)))
    print("\n")

--------LinearRegression--------
RMSE:  1205.6177523689578


--------DecisionTreeRegressor--------
RMSE:  1332.4334528281222


--------KNeighborsRegressor--------
RMSE:  573.515489301439


--------GradientBoostingRegressor--------
RMSE:  599.9835188299091


--------RandomForestRegressor--------
RMSE:  203.37759111652977

In [131]:
df2 = pd.read_csv('../kaggle_competition/data_limpia/diamonds2_clean.csv')

In [132]:
df2

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,x,y,z
0,0,0,0.070686,0.75,0.166667,0.428571,0.378676,0.444444,0.489758,0.494307,0.459885
1,1,1,0.024948,1.00,1.000000,0.428571,0.408088,0.305556,0.407821,0.421252,0.392550
2,2,2,0.020790,0.25,0.666667,0.714286,0.463235,0.361111,0.396648,0.407021,0.389685
3,3,3,0.095634,0.50,0.333333,0.285714,0.301471,0.416667,0.529795,0.542694,0.484241
4,4,4,0.045738,1.00,0.333333,0.428571,0.404412,0.333333,0.445996,0.457306,0.426934
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,13480,0.180873,0.75,0.500000,0.142857,0.422794,0.444444,0.605214,0.613852,0.580229
13481,13481,13481,0.062370,0.75,0.000000,0.142857,0.411765,0.416667,0.478585,0.481973,0.455587
13482,13482,13482,0.195426,0.75,0.666667,0.428571,0.393382,0.472222,0.627561,0.632827,0.593123
13483,13483,13483,0.103950,0.50,0.833333,0.285714,0.308824,0.527778,0.537244,0.552182,0.492837
13484,13484,13484,0.029106,1.00,0.000000,0.428571,0.415441,0.333333,0.417132,0.422201,0.398281

In [133]:
df2 = df2.drop(['Unnamed: 0'], axis=1)

In [134]:
df2

,id,carat,cut,color,clarity,depth,table,x,y,z
0,0,0.070686,0.75,0.166667,0.428571,0.378676,0.444444,0.489758,0.494307,0.459885
1,1,0.024948,1.00,1.000000,0.428571,0.408088,0.305556,0.407821,0.421252,0.392550
2,2,0.020790,0.25,0.666667,0.714286,0.463235,0.361111,0.396648,0.407021,0.389685
3,3,0.095634,0.50,0.333333,0.285714,0.301471,0.416667,0.529795,0.542694,0.484241
4,4,0.045738,1.00,0.333333,0.428571,0.404412,0.333333,0.445996,0.457306,0.426934
...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.180873,0.75,0.500000,0.142857,0.422794,0.444444,0.605214,0.613852,0.580229
13481,13481,0.062370,0.75,0.000000,0.142857,0.411765,0.416667,0.478585,0.481973,0.455587
13482,13482,0.195426,0.75,0.666667,0.428571,0.393382,0.472222,0.627561,0.632827,0.593123
13483,13483,0.103950,0.50,0.833333,0.285714,0.308824,0.527778,0.537244,0.552182,0.492837
13484,13484,0.029106,1.00,0.000000,0.428571,0.415441,0.333333,0.417132,0.422201,0.398281

In [142]:
columnas = [a for a in df2.columns if a not in ["id"]]
X_test = df2[columnas]

In [143]:
X_test.shape

(13485, 9)

In [161]:
y_test = models["RandomForestRegressor"].predict(X_test)

In [162]:
y_test

array([ 2165.05      ,  1404.1       ,  2165.27      , ...,
       14767.18666667,  2090.42      ,  1863.14      ])

In [163]:
len(y_test)

13485

In [164]:
submission = pd.DataFrame(y_test, columns=['Price']) 
submission['id'] = submission.index
submission=submission.set_index('id')
submission

              Price
id
0       2165.050000
1       1404.100000
2       2165.270000
3       2251.710000
4       1831.650000
...             ...
13480   4034.580000
13481   1809.720000
13482  14767.186667
13483   2090.420000
13484   1863.140000

[13485 rows x 1 columns]

In [166]:
submission.to_csv("submission.csv")